.contact-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.icon-action {
  cursor: pointer;
  font-size: 16px;
}

.icon-action:hover {
  color: #0d6efd; 
}

.main-container {
  max-width: 900px;
}

.form-container {
  max-width: 800px;
} 

.back-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.back-link:hover {
  color: #0d6efd; /* azul bootstrap */
}